p {
    font-size: 10px;
    justify-content: center;
}

.main-block {
    max-width: 360px; 
    min-height: 420px; 
    padding: 5px 0;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(8, 8, 8, 0.31); 
    background: #ebebeb; 
}

form {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: center;
    justify-content: center;
    height: 100%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
}

label#icon {
    margin: 5px;
    border-radius: 5px 0px 0px 5px;
}

input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
}

input[type=password] {
    margin-bottom: 10px;
}
    
#icon {
    display: inline-block;
    padding: 7px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
}

.btn-block {
    margin-top: 80px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
    
button:hover {
    background: #26a9e0;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 20px;
    margin-top: 20px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.forgot-pwd {
    position: relative;
}

.img-overlay {
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}

